<a href="https://colab.research.google.com/github/ceska68/Exercicios/blob/main/Desafio_6_Estat%C3%ADsticas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
    <p style="float: right;"><img src="https://media.swipepages.com/2021/2/sirius-logo-principal-tag-1-300.png" height="80px"border="1px"></p>
    
</div>
<h1>Nano Desafio 6 </h1>
<h2>Pandas - estatísticas </h2>

Aluno: Bastien

Data: 23/04/2023

##### Introdução

Já conhecemos o pandas e um pouco do seu poder para analisar dados! Agora vamos fazer alguns calculos estatísticos usando essa ferramenta já no ritmo de despedida e também como uma  prévia do que esta por vir. Afinal você está crescendo e sua jornada de Introdução ao Python está chegando ao fim!!! 

A Estatística já está batendo a porta e dando boas vindas!!

##### Estatísticas
Estatísticas resumo, para que servem? Adivinhe? - elas "resumem" muitos números!!!. Por exemplo, média, mediana, mínimo, máximo e desvio padrão são estatísticas resumidas. O cálculo de estatísticas resumidas permitem que você tenha uma noção melhor de seus dados, mesmo que você tenha milhares ou milhões!!

##### O conjunto de dados
A Walt Disney Studios já produziu mais de 600 filmes desde seu filme de estreia, Branca de Neve e os Sete Anões, em 1937. Vamos, explorar um conjunto de dados de filmes da Disney !! Esses dados foram compilados por <a href="https://data.world/kgarrett/disney-character-success-00-16">Kelly Garrett</a>. Os dados contêm 579 filmes da Disney com seis características: título do filme, data de lançamento, gênero, classificação MPAA, bilheteria bruta  e bilheteria ajustada pela inflação. </p>

1 -Importe o  [dataset disney_movies_total_gross.csv](https://drive.google.com/file/d/1WtNcv-0XV5j954UNDkf2GW60vZHpqpzl/view?usp=sharing) e salvar com o nome dados.

In [1]:
import pandas as pd
# Leia o arquivo 
dados = pd.read_csv('disney_movies_total_gross.csv', parse_dates =['release_date'])

2 -  Imprima as primeiras linhas desse dataset

In [2]:
dados.head()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730

Obs.: Motion Picture Association of America (MPAA) - é uma associação que tem por objetivo original garantir a viabilidade da indústria cinematográfica norte-americana. Além disso, a MPA estabeleceu diretrizes para o conteúdo de filmes que resultaram na criação do Código de Produção em 1930. 
Por exemplo, a classificação de filmes segundo essa associação é:

![wikipedia](mpaa_rating.png)

fonte:https://pt.wikipedia.org/wiki/Motion_Picture_Association

Agora, antes de mais nada vamos renomear as colunas para ficar mais fácil o entendimento?

['tit_do_filme','dt_lancamento','genero','classificacao_mpaa','bilheteria_bruta','bilheteria_ajustada_inflacao']

3 - Veja o dataset agora:

4 -Imprima informações básicas sobre o DataFrame

5 - Calcule a média da bilheteria ajustada

6 - Calcule a mediana da bilheterias ajustada

7 - Encontre as datas máximas e minimas de lançamentos de filmes nesse dataset

8 - Qual filme tem maior bilheteria_ajustada_inflacao ?

9 - Ordene os dados por dt_lancamento e chame de data_ordenada

10- Obtenha a soma cumulativa da bilheteria_ajustada_inflacao,adicione ao dataset com o nome de bilheteria_milionaria

11 - Veja a coluna que você criou

12 - Selecione os filmes de aventura e atribua a uma variável chamada filmes_aventura

13 - Veja as primeiras linha desse novo dataset:

14 - Conte o número de filmes por genero e ordene

15 - Calcule agora a proporção de filmes por genero e ordene

Estatísticas resumidas agrupadas

16 - Calcule o total da "bilheteria_bruta"

17 - Visualize os tipos de generos que tem nesse dataset:

18 - Calcule o total da bilheteria_bruta pelo genero 'Drama'

19 - Calcule o total da bilheteria_bruta pelo genero Comedia 'Comedy'

20 - Calcule o total da bilheteria_bruta pelo genero Ação 'Action'

21 -  Obtenha proporção do bilheteria_bruta para os três generos acima.

22 - Importe numpy com o alias np

23 - Para cada genero de filme, agregue a bilheteria_bruta obtendo min, max, média e mediana e imprima o resultado

Dica: use numpy para as estatísticas

24 - Para cada genero de filme, agregue bilheteria_bruta e bilheteria_ajustada_inflacao: obtenha o minimo, maximo, média e mediana

Está na hora de fazermos um pouco de gráficos. Não existe análise de dados sem visualização!!

In [ ]:
import seaborn as sns

25 - Some a bilheteria_bruta por genero

26 - Agora sim faça um gráfico de barras com o resultado anterior!

27 - Importe o seaborn com o apelido sns

In [ ]:
import seaborn as sns
sns.set()

28 -Faça um boxplot comparando a bilheteria_ajustada_inflacao dos filmes de ação e comédia