<a href="https://colab.research.google.com/github/ceska68/Exercicios/blob/main/Exercicio_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Para entender melhor os objetos DataFrame, é útil saber que eles consistem em três componentes, armazenados como atributos:

- .values: Uma matriz bidimensional de valores.
- .columns: Um índice de colunas: os nomes das colunas.
- .index: Um índice para as linhas: números de linha ou nomes de linha.

##### Exercício 1 - Importe o dataset walmart_vendas.csv e salve com o nome vendas

In [4]:
import pandas as pd

In [5]:
vendas = pd.read_csv('walmart_vendas.csv')

##### Exercício 2 - Imprima as primeiras e as últimas linhas desse dataset

In [6]:
print(vendas.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [7]:
print(vendas.tail())

       Unnamed: 0  store type  department        date  weekly_sales  \
10769       10769     39    A          99  2011-12-09        895.00
10770       10770     39    A          99  2012-02-03        350.00
10771       10771     39    A          99  2012-06-08        450.00
10772       10772     39    A          99  2012-07-13          0.06
10773       10773     39    A          99  2012-10-05        915.00

       is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
10769       False       9.644444              0.834256         7.716
10770       False      15.938889              0.887619         7.244
10771       False      27.288889              0.911922         6.989
10772       False      25.644444              0.860145         6.623
10773       False      22.250000              0.955511         6.228

##### Exercício 3 - Elimine a coluna " Unnamed: 0"

In [10]:
vendas.drop(['Unnamed: 0'],axis =1, inplace = True)

In [11]:
print(vendas.head())

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

**Exercício 4 -Imprima os valores desse dataframe**

In [13]:
print(vendas.values)

[[1 'A' 1 ... 5.727777777777779 0.6794508388787476 8.106]
 [1 'A' 1 ... 8.055555555555555 0.693451964252221 8.106]
 [1 'A' 1 ... 16.81666666666667 0.718284148876872 7.808]
 ...
 [39 'A' 99 ... 27.28888888888889 0.911922354513778 6.989]
 [39 'A' 99 ... 25.64444444444444 0.8601446078496121 6.622999999999999]
 [39 'A' 99 ... 22.25 0.955510763695346 6.228]]

**Exercício 5 - Imprima as colunas desse dataframe**

In [14]:
print(vendas.columns)

Index(['store', 'type', 'department', 'date', 'weekly_sales', 'is_holiday',
       'temperature_c', 'fuel_price_usd_per_l', 'unemployment'],
      dtype='object')

**Exercício 6 - Imprima as linhas desse dataframe**

In [16]:
print(vendas.index)

RangeIndex(start=0, stop=10774, step=1)

**Exercício 7  - Crie um novo dataframe classificando-o em ordem crescente pela coluna *weekly_sales***

In [18]:
vendas_ordem = vendas.sort_values(['weekly_sales'])

**Exercício 8  - Veja as primeiras linhas desse novo dataframe:**

In [19]:
vendas_ordem.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
1420,2,A,47,2010-07-30,-1098.0,False,28.605556,0.697415,8.099
1422,2,A,47,2010-10-15,-1098.0,False,18.777778,0.718548,8.163
4115,10,B,47,2010-10-15,-798.0,False,24.155556,0.813650,9.003
4110,10,B,47,2010-03-05,-798.0,False,13.288889,0.760023,9.765
517,1,A,47,2010-03-12,-698.0,False,14.327778,0.704547,8.106

**Exercício 9 - Ordene o dataframe original pela coluna *temperature_c* em ordem decrescente e imprima as primeiras linhas**

In [20]:
vendas_temp_desc = vendas.sort_values(['temperature_c'], ascending = False)
print(vendas_temp_desc.head())

      store type  department        date  weekly_sales  is_holiday  \
3754     10    B          14  2010-07-02      36506.15       False
4380     10    B          87  2010-07-02      20296.90       False
4356     10    B          83  2010-07-02        268.16       False
4344     10    B          82  2010-07-02      21579.29       False
4332     10    B          81  2010-07-02      11684.87       False

      temperature_c  fuel_price_usd_per_l  unemployment
3754      33.827778              0.786705         9.199
4380      33.827778              0.786705         9.199
4356      33.827778              0.786705         9.199
4344      33.827778              0.786705         9.199
4332      33.827778              0.786705         9.199

**Exercício 10 -Selecione somente a  coluna *unemployment* salve com o nome subdf e veja as primeiras linhas**

In [24]:
subdf = vendas['unemployment']

subdf.head()

0    8.106
1    8.106
2    7.808
3    7.808
4    7.808
Name: unemployment, dtype: float64

**Exercício 11 -  Filtre por linhas os valores de weekly_sales forem maiores que 20000 e chame de weekly_sales_20k e imprima as primeiras linhas**

In [25]:
weekly_sales_20k = vendas [vendas ['weekly_sales']> 20000]

In [26]:
print(weekly_sales_20k.head())

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
8      1    A           1  2010-10-01      20094.19       False
9      1    A           1  2010-11-05      34238.88       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
8      22.161111              0.687640         7.838
9      14.855556              0.710359         7.838